<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-atendimento-heading" data-cy="AtendimentoCreateUpdateHeading">Create or edit a Atendimento</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dataAtendimento">Data Atendimento</label>
          <div class="input-group">
            <input
              id="field_dataAtendimento"
              data-cy="dataAtendimento"
              type="text"
              class="form-control"
              name="dataAtendimento"
              ngbDatepicker
              #dataAtendimentoDp="ngbDatepicker"
              formControlName="dataAtendimento"
            />
            <button type="button" class="btn btn-secondary" (click)="dataAtendimentoDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              editForm.get('dataAtendimento')!.invalid &&
              (editForm.get('dataAtendimento')!.dirty || editForm.get('dataAtendimento')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('dataAtendimento')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label for="field_procedimentos">Procedimento</label>
          <select
            class="form-control"
            id="field_procedimentos"
            data-cy="procedimento"
            multiple
            name="procedimentos"
            formControlName="procedimentos"
            [compareWith]="compareProcedimento"
          >
            <option [ngValue]="procedimentoOption" *ngFor="let procedimentoOption of procedimentosSharedCollection">
              {{ procedimentoOption.descricao }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['procedimentos'])!.invalid && (editForm.get(['procedimentos'])!.dirty || editForm.get(['procedimentos'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['procedimentos'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dentista">Dentista</label>
          <select
            class="form-control"
            id="field_dentista"
            data-cy="dentista"
            name="dentista"
            formControlName="dentista"
            [compareWith]="compareDentista"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="dentistaOption" *ngFor="let dentistaOption of dentistasSharedCollection">
              {{ dentistaOption.nomeDentista }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_paciente">Paciente</label>
          <select
            class="form-control"
            id="field_paciente"
            data-cy="paciente"
            name="paciente"
            formControlName="paciente"
            [compareWith]="comparePaciente"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="pacienteOption" *ngFor="let pacienteOption of pacientesSharedCollection">
              {{ pacienteOption.nomePaciente }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
